.dropbox-modal {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.dropbox-modal button:focus {
    outline: 0;
}

.dropbox-file-picker {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
    font-size: 15px;
    background-color: #fff;
    width: 50%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
    margin: auto;
    box-shadow: 0 0 60px -29px rgba(0,0,0,0.72);
}

.dropbox-modal-body {
    height: 520px;
    position: relative;
}

.dropbox-entries-list {
    max-height: 520px;
    overflow-y: scroll;
    overflow-x: auto;
}

.dropbox-icon-file {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='32px' version='1.1' viewBox='0 0 32 32' width='32px' xmlns='http://www.w3.org/2000/svg' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle/%3E%3Cdesc/%3E%3Cdefs/%3E%3Cg fill='none' fill-rule='evenodd' id='Page-1' stroke='none' stroke-width='1'%3E%3Cg fill='%23157EFB' id='icon-54-document'%3E%3Cpath d='M19.5,3 L9.00276013,3 C7.89666625,3 7,3.89833832 7,5.00732994 L7,27.9926701 C7,29.1012878 7.89092539,30 8.99742191,30 L24.0025781,30 C25.1057238,30 26,29.1017876 26,28.0092049 L26,10.5 L26,10 L20,3 L19.5,3 L19.5,3 L19.5,3 Z M19,4 L8.9955775,4 C8.44573523,4 8,4.45526288 8,4.99545703 L8,28.004543 C8,28.5543187 8.45470893,29 8.9999602,29 L24.0000398,29 C24.5523026,29 25,28.5550537 25,28.0066023 L25,11 L20.9979131,11 C19.8944962,11 19,10.1134452 19,8.99408095 L19,4 L19,4 Z M20,4.5 L20,8.99121523 C20,9.54835167 20.4506511,10 20.9967388,10 L24.6999512,10 L20,4.5 L20,4.5 Z' id='document'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.dropbox-icon-folder {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='32px' version='1.1' viewBox='0 0 32 32' width='32px' xmlns='http://www.w3.org/2000/svg' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle/%3E%3Cdesc/%3E%3Cdefs/%3E%3Cg fill='none' fill-rule='evenodd' id='Page-1' stroke='none' stroke-width='1'%3E%3Cg fill='%23157EFB' id='icon-95-folder'%3E%3Cpath d='M1,13 L1,6.991155 C1,5.88967395 1.89666625,5 3.00276013,5 L14,5 L16,9 L27.9941413,9 C29.1029399,9 30,9.8932319 30,10.9950893 L30,13 L1,13 L1,13 Z M1,14 L1,25.008845 C1,26.1085295 1.89971268,27 2.99328744,27 L28.0067126,27 C29.1075748,27 30,26.1073772 30,25.0049107 L30,14 L1,14 L1,14 Z' id='folder'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.dropbox-icon-level-up {
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='1792' viewBox='0 0 1792 1792' width='1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='fill: %23999999' d='M1402 603q-18 37-58 37h-192v864q0 14-9 23t-23 9h-704q-21 0-29-18-8-20 4-35l160-192q9-11 25-11h320v-640h-192q-40 0-58-37-17-37 9-68l320-384q18-22 49-22t49 22l320 384q27 32 9 68z'/%3E%3C/svg%3E");
}

.dropbox-folder-entry {
    display: flex;
    align-items: center;
    position: relative;
    line-height: 50px;
    border-bottom: 1px solid #eee;
    padding: 0 5px;
}

.dropbox-folder-entry:hover {
    background-color: #def;
    cursor: pointer;
}

.dropbox-selected-entry {
    background-color: #def;
}

.dropbox-entry-icon {
    min-width: 42px;
    height: 42px;
    align-items: center;
    display: inline-block;
    margin-right: 10px;
    margin-left: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.dropbox-entry-preview {
}

.dropbox-entry-name {
    display: inline-block;
    align-items: center;
}

.dropbox-entry-full-name {
    display: flex;
    flex-grow: 1;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropbox-entry-checkbox {
    background-color: #fff;
    border: 1px solid #aaa;
    min-width: 15px;
    height: 15px;
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
}

.dropbox-entry-checkbox.checked:after{
     content: '';
     display: block;
     width: 5px;
     height: 10px;
     border: solid #444;
     border-width: 0 2px 2px 0;
     margin-left: 4px;
     transform: rotate(45deg);
 }

.dropbox-button-panel {
    width: 100%;
    height: 40px;
    background-color: #0083f5;
    text-align: right;
}

.dropbox-info-panel {
    display: inline-block;
    width: 200px;
    text-align: left;
    float: left;
    line-height: 40px;
    margin: 0 15px;
    color: #fff;
}

.dropbox-choose-buttons {
    margin-right: 10px;
}

.dropbox-choose-buttons > .dropbox-btn {
    margin: 0;
}

.dropbox-btn {
    min-width: 100px;
    height: 40px;
    display: inline-block;
    border: 0;
    border-radius: 3px;
    background: #0082f4;
    background: linear-gradient(to bottom, #0082f4, #0082ff);
    margin: 10px 5px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    font-weight: 200;
}

.dropbox-btn-accent {
    font-weight: 600;
}

.dropbox-btn-hollow {
    background:transparent;
    border: 1px solid #777;
    color: #444;
}

.dropbox-btn-empty {
    background: transparent;
    border: 1px solid transparent;
    color: #fff;
}

.dropbox-chooser-header {
    box-sizing: border-box;
    display: flex;
    height: 40px;
    background-color: #0083f5;
}

.dropbox-chooser-breadcrumbs {
    flex-grow: 1;
    box-sizing: border-box;
}

.dropbox-chooser-options-panel {
    box-sizing: border-box;
    display: flex;
}

.dropbox-breadcrumbs {
    list-style-type: none;
    line-height: 40px;
    margin: 0 8px;
    padding: 0;
}

.dropbox-breadcrumb-item {
    color: #fff;
    display: inline;
    font-size: 13px;
}
.dropbox-breadcrumb-item:not(:first-child) {
    margin-left: 5px;
}

.dropbox-breadcrumb-item:not(:first-child):before {
    content:"\003e";
    margin-right: 5px;
}

.dropbox-breadcrumb-item > a {
    text-decoration: none;
    color: #0082f4;
    background-color: #fff;
    padding: 5px;
}

.dropbox-breadcrumb-item:last-child > a {
    pointer-events: none;
    color: #fff;
    background-color: transparent;
}

.dropbox-loader-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.7);
    pointer-events: none;
    z-index: 10;
}

.dropbox-loader {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    margin: auto;
    vertical-align: middle;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #0082f4;
    border-color: #0082f4 transparent #0082f4 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dropbox-not-selectable {
    pointer-events: none;
    opacity: 0.5;
}

.dropbox-file-picker {
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}

.dropbox-layout-button {
    width: 32px;
    height: 32px;
    border: 0;
    display: inline-block;
    align-self: center;
    cursor: pointer;
    margin-right: 10px;
    background-color: transparent;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.dropbox-button-selected {
    background-color: rgba(0,0,0,0.25);
}

.dropbox-grid-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg fill='white' height='32' id='grid' viewBox='0 0 32 32' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d=' M4 4 L10 4 L10 10 L4 10z M13 4 L19 4 L19 10 L13 10z M22 4 L28 4 L28 10 L22 10z M4 13 L10 13 L10 19 L4 19z M13 13 L19 13 L19 19 L13 19z M22 13 L28 13 L28 19 L22 19z M4 22 L10 22 L10 28 L4 28z M13 22 L19 22 L19 28 L13 28z M22 22 L28 22 L28 28 L22 28z '/%3E%3C/svg%3E");
}

.dropbox-list-icon {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg fill='white' height='32' id='list' viewBox='0 0 32 32' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d=' M3 8 A3 3 0 0 0 9 8 A3 3 0 0 0 3 8 M12 6 L28 6 L28 10 L12 10z M3 16 A3 3 0 0 0 9 16 A3 3 0 0 0 3 16 M12 14 L28 14 L28 18 L12 18z M3 24 A3 3 0 0 0 9 24 A3 3 0 0 0 3 24 M12 22 L28 22 L28 26 L12 26z '/%3E%3C/svg%3E");
}

.dropbox-entries-list.dropbox-grid-layout {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.dropbox-grid-layout .dropbox-entry-icon {
    width: 100%;
    height: 150px;
    border-radius: 0;
    margin: 0;
    background-size: contain;
}

.dropbox-grid-layout .dropbox-entry-name {
    display: block;
    color: #000;
    bottom: 0;
    left: 0;
    margin: 5px auto;
    width: 100%;
    text-align: center;
}

.dropbox-grid-layout .dropbox-entry-full-name {
    display: block;
    position: relative;
}

.dropbox-grid-layout .dropbox-folder-entry {
    line-height: normal;
    margin: 5px;
    padding: 0;
    border: 0;
}

.dropbox-grid-layout .dropbox-entry-preview {
    background-size: cover;
}

.dropbox-grid-layout .dropbox-entry-checkbox {
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 2;
}